<div class="container-fluid content">

    <div class="row bottom-buffer">
        <form class="col-xs-4 form-inline">
            <div class="form-group">
                <button type="button" class="btn btn-md text-capitalize"
                        data-ng-class="{'btn-success' : autoRefresh.enable, 'btn-danger' : !autoRefresh.enable}"
                        data-ng-click="toggleRefresh()">
                    <span class="glyphicon glyphicon-refresh"></span>
                    <span>{{autoRefresh.enable ? 'disable' : 'auto-refresh'}}</span>
                </button>
                <div class="input-group">
                    <input type="number" min="1" max="180" class="form-control" id="refresh-interval"
                           data-ng-model="autoRefresh.interval" data-ng-change="updateRefresh()">
                    <div class="input-group-addon">seconds</div>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-12">
            <table class="mqtt-clients table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th class="text-center text-uppercase">Client ID</th>
                    <th class="text-center text-uppercase">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="client in clients | orderBy : 'clientId'" data-ng-click="displayClient(client)">
                    <td>{{client.clientId}}</td>
                    <td class="text-center mqtt-status">
                        <span data-ng-class="{'fa fa-check-circle text-success': client.connected, 'fa fa-times-circle text-danger': !client.connected}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div data-ng-show="isDisplayed()">
            <div class="col-lg-2 col-md-6">
                <h3 class="mqtt-heading">{{currentClient.clientId}}</h3>
                <dl data-ng-repeat="(key, val) in filterInfosClient(currentClient)">
                    <dt>{{key}}</dt>
                    <dd>{{val}}</dd>
                </dl>
            </div>
            <div class="col-lg-2 col-md-6">
                <h3 class="mqtt-heading">servers</h3>
                <ul class="list-unstyled">
                    <li data-ng-repeat="server in currentClient.serverURIs">{{server}}</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-12">
                <h3 class="mqtt-heading">topics</h3>
                <ul class="list-unstyled">
                    <li data-ng-repeat="topic in currentClient.topics">{{topic}}</li>
                </ul>
            </div>
        </div>
    </div>

</div>