<div class="modal fade" id="showHistory{{step.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">  History of step execution for step = {{step.stepExecutionProgress.stepExecutionHistory.stepName}} </h4>
            </div>
            <div class="modal-body" style="word-wrap: break-word">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <colgroup>
                                <col class="col-xs-1">
                                <col class="col-xs-7">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>Property</th>
                                <th>Min</th>
                                <th>Max</th>
                                <th>Mean</th>
                                <th>Sigma</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="history in step.historySteps">
                                <td>{{history.property}}</td>
                                <td>{{history.min}}</td>
                                <td>{{history.max}}</td>
                                <td>{{history.mean}}</td>
                                <td>{{history.sigma}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>