<div class="modal fade" id="showDetails{{step.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Step details </h4>
      </div>
      <div class="modal-body" style="word-wrap: break-word !important">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <colgroup>
                        <col class="col-xs-1">
                        <col class="col-xs-7">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="detail in step.details">
                        <td>{{ detail.property }}</td>
                        <td>
                            <p data-ng-class="{'red': detail.property === 'statusExitDescription'}" style="width: 660px; word-wrap: break-word">
                            {{detail.value }}
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>